* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}
body {
  background-color: rgb(243, 243, 243);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 3rem auto;
}
p {
  color: rgb(77, 16, 151);
  padding: 20px;
  margin-left: 9rem;
  font-size: 30px;
}
.main {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  width: 80%;
}
.left {
  border: none;
  border: 3px solid rgb(77, 16, 151);
  width: 30%;
}
.right {
  border: none;
  border: 3px solid rgb(195, 195, 195);
  width: 70%;
}

table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  border-bottom: 5px solid rgb(177, 177, 177);
}
td img {
  width: 19px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0px;
}
td p {
  font-size: 15px;
}
tr .icon {
  width: 2rem;
  border: 2px solid rgb(222, 222, 222);
  border-radius: 30px;
}
.numb {
  text-align: right;
}
th {
  color: #737373;
  font-size: 15px;
}
th,
td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr td {
  color: black;
  padding: 1rem;
}
.td:hover {
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px;
}
.td-main {
  display: flex;
}

.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  top: 4rem;
  right: 1rem;
  padding: 1rem 1rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 1rem;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.dropdown-content a:nth-child(2) {
  border-bottom: 1px solid rgb(177, 177, 177);
  border-top: 1px solid rgb(177, 177, 177);
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #ffffff;
}
.dropdown-content a:hover {
  color: rgb(77, 16, 151);
}
